<h1>Add a New Bag</h1>

<form method="post" action="/golfbags">
	<div class="form-group">
		<label for="player">Player:</label>
		<input type="text" id="player" name="Player" />
	</div>
	<div class="form-group">
		<label for="capacity">Capacity:</label>
		<input type="number" id="capacity" name="Capacity" />
	</div>
	<button type="submit">Create Golf Bag</button>
</form>